
                <th scope="row">@Member.Id</th>
                <td>@Member.MemberName</td>
                <td>@Member.Email</td>
                <td>@Member.Age</td>
                <td>@Member.JoiningDate</td>


@code {

    [Parameter]
    public Member Member { get; set; }

}
